# 2024-06-15 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Refactor MySQL settings": https://github.com/thehcginstitute-com/167.71.186.128/issues/15
!include /etc/mysql/credentials.cnf

[mysql]
no-beep
default-character-set=utf8
# 2024-02-09
# 1) "How to paste a tab-formatted SQL command into MySQL shell?": https://df.tips/t/2136
# 2) "Disable the «automatic rehashing» feature of `mysql`": https://github.com/dmitrii-fediuk/5.9.188.84/issues/58
# 3) https://dev.mysql.com/doc/refman/8.0/en/mysql-command-options.html#option_mysql_auto-rehash
skip-auto-rehash

[mysqld]
bind-address = 127.0.0.1
innodb_file_per_table = 1
key_buffer_size = 16M
# 2024-06-15 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Refactor MySQL settings": https://github.com/thehcginstitute-com/167.71.186.128/issues/15
log_error = /var/log/_my/mysql.log
log-queries-not-using-indexes  = 1
long_query_time = 0
max_allowed_packet = 64M
max_binlog_size   = 100M
myisam-recover-options = BACKUP
mysqlx-bind-address	= 127.0.0.1
read_buffer_size = 2M
sort_buffer_size = 2M
user = mysql
tmp-table-size                 = 512M
max-heap-table-size            = 512M
max-connections                = 100
max_user_connections           = 100
thread-cache-size              = 1000
open-files-limit               = 65535
table-definition-cache         = 4096
transaction-isolation = READ-UNCOMMITTED
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
innodb_log_buffer_size         = 256M
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G
innodb_strict_mode             = 0


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M