# 2024-06-15 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Refactor MySQL settings": https://github.com/thehcginstitute-com/167.71.186.128/issues/15
!include /etc/mysql/credentials.cnf

[mysql]
no-beep
default-character-set=utf8
# 2024-02-09
# 1) "How to paste a tab-formatted SQL command into MySQL shell?": https://df.tips/t/2136
# 2) "Disable the «automatic rehashing» feature of `mysql`": https://github.com/dmitrii-fediuk/5.9.188.84/issues/58
# 3) https://dev.mysql.com/doc/refman/8.0/en/mysql-command-options.html#option_mysql_auto-rehash
skip-auto-rehash

[mysqld]
# 2020-09-28 https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_bind_address
bind-address = 127.0.0.1
default-storage-engine = INNODB
# 2017-05-18
# «The number of days for automatic binary log file removal.
# The default is 0, which means “no automatic removal.”
# Possible removals happen at startup and when the binary log is flushed».
; https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_expire_logs_days
expire_logs_days = 10
# 2017-04-30 Важно! Чтобы Magento искала по двубуквенным запросам.
ft_min_word_len = 2
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
innodb-buffer-pool-size = 2G
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_checksum_algorithm
innodb_checksum_algorithm = crc32
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_fast_shutdown
innodb_fast_shutdown = 1
# 2017-04-30 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
# 2020-05-26
# «With a setting of 2, logs are written after each transaction commit and flushed to disk once per second.
# Transactions for which logs have not been flushed can be lost in a crash.»
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 256M
innodb_log_buffer_size = 256M
key_buffer_size = 384M
# 2024-06-15 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Refactor MySQL settings": https://github.com/thehcginstitute-com/167.71.186.128/issues/15
log_error = /var/log/_my/mysql.log
# 2017-04-30
# «This variable controls verbosity of the server in writing error, warning, and note messages to the error log.
# The following table shows the permitted values. The default is 3.
# 		1	Errors only
# 		2	Errors and warnings
# 		3	Errors, warnings, and notes»
# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_log_error_verbosity
# 2020-12-23 MariaDB does not support this option: https://mariadb.com/kb/en/error-log/#mysqls-log_error_verbosity
log_error_verbosity = 2
# 2024-06-15
# «The destination or destinations for general query log and slow query log output.
# The value is a list one or more comma-separated words chosen from `TABLE`, `FILE`, and `NONE`.
# 		*) `TABLE` selects logging to the `general_log` and `slow_log` tables in the `mysql` system schema.
#		*) `FILE` selects logging to log files.
#		*) `NONE` disables logging.
# If `NONE` is present in the value, it takes precedence over any other words that are present.
# `TABLE` and `FILE` can both be given to select both log output destinations.»
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_log_output
log_output = NONE
max_allowed_packet = 256M
max_binlog_size = 100M
max_connections = 700
max-heap-table-size            = 512M
max_user_connections           = 100
myisam-recover-options = BACKUP
mysqlx-bind-address	= 127.0.0.1
open-files-limit               = 65535
read_buffer_size = 2M
sort_buffer_size = 2M
table-definition-cache         = 4096
thread-cache-size              = 1000
tmp-table-size                 = 512M
transaction-isolation = READ-UNCOMMITTED
user = mysql

[mysqldump]
quick
quote-names
max_allowed_packet = 256M