# MySQL systemd service file

[Unit]
After=network.target
Description=MySQL Community Server

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/mysqld
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
Group=mysql
LimitNOFILE=10000
PIDFile=/run/mysqld/mysqld.pid
PermissionsStartOnly=true
Restart=on-failure
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
TimeoutSec=infinity
Type=notify
User=mysql

# Set enviroment variable MYSQLD_PARENT_PID. This is required for restart.
Environment=MYSQLD_PARENT_PID=1
